{% extends 'store/base.html' %}

{% block title %}
    Login | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    {% include 'store/header.html' %}
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container has-text-centered text-white">
      <p class="title">
        Login to Shop the New Look
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a href="{% url 'store:store' %}">
        Shop tetris
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column"></div>

    <!-- center-box is a tetris styling -->
    <div class="column box center-box">
      <form action="/login/" method="post">
      {% csrf_token %}
      <input type="hidden" name="redirect_url" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}/{% endif %}">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input {% if form.username.errors %}is-danger{% endif %} is-medium" type="text" name="username" placeholder="username"
          required value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
          {% if form.username.errors %}
          <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          {% endif %}
        </div>
      {% if form.username.errors %}
            <p class="help is-danger">
          {% for error in form.username.errors %}
                {{ error }}
          {% endfor %}
                </p>
        {% endif %}
          </div>

          <div class="field">
              <label class="label">Password</label>
            <p class="control has-icons-left">
              <input class="input {% if form.password.errors %}is-danger{% endif %} is-medium" type="password" name="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
            {% if form.password.errors %}
              <p class="help is-danger">
            {% for error in form.password.errors %}
                  {{ error }}
            {% endfor %}
                  </p>
          {% endif %}
          </div>
          {% if form.non_field_errors %}
            <p class="help is-danger">
          {% for error in form.non_field_errors %}
                {{ error }}
          {% endfor %}
                </p>
        {% endif %}

          <!-- <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
              </label>
            </div>
          </div> -->

          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <a href="{% url 'store:register' %}">Not registered?</a>
              <a href="{% url 'store:password_reset' %}">Forgot password?</a>
            </p>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-danger">
                Login
              </button>
            </p>
          </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</section>

{% endblock %}