{% extends 'store/base.html' %}

{% block title %}
    Password Reset Complete | Tetris Clothing Store
{% endblock %}

{% block body %}
{% include 'store/header2.html' %}
<section class="hero is-medium is-light">
  <div class="hero-body" >
    <div class="container">
      <p class="title">
        Phew!
      </p>
      <p class="subtitle">
        Your password has been changed. You may go ahead and <a href="{% url 'store:login' %}">Login</a>.
      </p>
    </div>
  </div>
</section>
{% endblock %}