{% extends 'store/base.html' %}

{% block title %}
    Password Changed | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}
{% include 'store/header.html' %}
<section class="hero is-medium is-light">
  <div class="hero-body" >
    <div class="container">
      <p class="title">
        Phew!
      </p>
      <p class="subtitle">
        Your password has been changed. You may continue <a style="text-decoration: underline;" href="{% url 'store:store' %}">shopping</a>.
      </p>
    </div>
  </div>
</section>
{% endblock %}