{% extends 'store/base.html' %}

{% block title %}
    Password Reset | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}
{% include 'store/header2.html' %}
<section class="hero is-medium is-light">
  <div class="hero-body" >
    <div class="container">
      <p class="title">
        Password Reset
      </p>
      <p class="subtitle">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        <br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder
      </p>
    </div>
  </div>
</section>
{% endblock %}