{% extends 'store/base.html' %}

{% block title %}
    Change Password | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    <!-- {% include 'store/header.html' %} -->
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container has-text-centered text-white">
      <p class="title">
        Bold, Different, Spirited
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        Shop tetris
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column"></div>

    <!-- center-box is a tetris styling -->
    <div class="column box center-box">
      <div class="tabs is-centered">
        <ul>
          <li><a href="{% url 'store:profile' %}">Profile</a></li>
          <li><a href="{% url 'store:cart' %}">Cart</a></li>
          <li><a href="{% url 'store:orders' %}">Orders</a></li>
          <li><a href="{% url 'store:wish_list' %}">Wishlist</a></li>
          <li class="is-active"><a href="javascript:void(0);">Settings</a></li>
        </ul>
        </div>
      <form action="{% url 'store:password_change'%}" method="post">
      {% csrf_token %}
      <input type="hidden" name="redirect_url" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}/{% endif %}">
          <div class="field">
              <label class="label">Old Password</label>
            <p class="control has-icons-left">
              <input class="input {% if form.old_password.errors %}is-dark{% endif %} is-medium" type="password" name="old_password" placeholder="your old password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
            <p class="help is-dark">
              {{ form.old_password.errors }}
            </p>
          </div>

          <div class="field">
              <label class="label">New Password</label>
            <p class="control has-icons-left">
              <input class="input {% if form.new_password1.errors %}is-dark{% endif %} is-medium" type="password" name="new_password1" placeholder="new password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
            <p class="help is-dark">
              {{ form.new_password1.errors }}
            </p>
          </div>

          <div class="field">
              <label class="label">New Password Again</label>
            <p class="control has-icons-left">
              <input class="input {% if form.new_password2.errors %}is-dark{% endif %} is-medium" type="password" name="new_password2" placeholder="new password again">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
            <p class="help is-dark">
              {{ form.new_password2.errors }}
            </p>
          </div>
          <p class="help is-dark">
              {{ form.non_field_errors }}
          </p>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-dark">
                Submit
              </button>
            </p>
          </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</section>

{% endblock %}