{% extends 'store/base.html' %}

{% block title %}
    Reset Password | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    <!-- {% include 'store/header.html' %} -->
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container has-text-centered text-white">
      <p class="title">
        Bold, Different, Spirited
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        Shop tetris
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column"></div>

    <!-- center-box is a tetris styling -->
    <div class="column box center-box">
      <h4>Reset Your Password</h4>
      <p>Enter your email address below, and we'll send you instructions for setting a new password.</p>
      <form action="{% url 'store:password_reset'%}" method="post">
        {% csrf_token %}
        <div class="field">
              <label class="label">Your Email Address</label>
            <p class="control has-icons-left">
              <input class="input {% if form.email.errors %}is-danger{% endif %} is-medium" type="email" name="email" placeholder="your email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
            <p class="help is-danger is-size-6">
              {{ form.email.errors }}
            </p>
          </div>
          <p class="help is-danger is-size-6">
              {{ form.non_field_errors }}
          </p>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-dark">
                Submit
              </button>
            </p>
          </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</section>

{% endblock %}

{% block body %}
      <h4>Reset Your Password</h4>
      <p>Enter your email address below, and we'll send you instructions for setting a new password.</p>

{% endblock %}