{% extends 'store/base.html' %}

{% block title %}
    Register | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    {% include 'store/header.html' %}
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container has-text-centered text-white">
      <p class="title">
        Register to Join the New Look
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column"></div>
    <!-- center-box is a tetris styling -->
    <div class="column box center-box">
      <form action="/register/" method="post">
      {% csrf_token %}
      <input type="hidden" name="redirect_url" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}/{% endif %}">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input {% if form.username.errors %}is-danger{% endif %} is-medium" type="text" name="username" placeholder="username"
          required value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
          {% if form.username.errors %}
          <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          {% endif %}
        </div>
        {% if form.username.errors %}
            <p class="help is-danger is-size-6">
          {% for error in form.username.errors %}
                {{ error }}
          {% endfor %}
                </p>
        {% endif %}
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input {% if form.email.errors %}is-danger{% endif %} is-medium" type="email" name="email" placeholder="email address"
          required value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          {% if form.email.errors %}
          <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          {% endif %}
        </div>
        {% if form.email.errors %}
            <p class="help is-danger is-size-6">
          {% for error in form.email.errors %}
                {{ error }}
          {% endfor %}
                </p>
        {% endif %}
        </div>

          <div class="field">
              <label class="label">Password</label>
            <p class="control has-icons-left">
              <input class="input {% if form.password.errors %}is-danger{% endif %} is-medium" type="password" name="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
            {% if form.password.errors %}
            <p class="help is-danger is-size-6">
            {% for error in form.password.errors %}
                  {{ error }}
            {% endfor %}
                  </p>
          {% endif %}
          </div>
          {% if form.non_field_errors %}
            <p class="help is-danger is-size-6">
            {% for error in form.non_field_errors %}
                  {{ error }}
            {% endfor %}
                  </p>
          {% endif %}
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <a href="{% url 'store:login' %}">Registered?</a>
            </p>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-dark">
                Create Account
              </button>
            </p>
          </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</section>

{% endblock %}