<!-- base template for tetris website -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <!-- FAV -->
  <link rel="icon" type="image/png" href="{% static 'store/img/tetris-logo.jpg' %}?v=1">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <!-- CSS Files -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/font-awesome.min.css' %}?v=4.7.0">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> -->
  <!-- Bulma CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/bulma.css' %}?v=0.6.1">
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/tetris_styles.css' %}?v=0.1.0" />
  <!-- extrastyling for specific pages -->
  {% block extra_css %}{% endblock %}

  <!-- GLOBALS -->
  <script type="text/javascript">
    window.PAGE_PATH = "{{ request.path }}";
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
</head>

<body>
    {% block content %}
    {% endblock %}
  {% include 'store/footer.html' %}
</body>
</html>

<!-- JavaScript Files -->
<script src="{% static 'store/js/jquery.min.js' %}?v=3.2.1" ></script>
<script src="{% static 'store/js/tetris.js' %}?v=0.1.0" ></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});

  $("#showModal").click(function() {
    $(".modal").addClass("is-active");
  });

  $(".modal-close").click(function() {
     $(".modal").removeClass("is-active");
  });

  $(".close-modal").click(function() {
     $(".modal").removeClass("is-active");
  });
</script>