<!-- base template for tetris website -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <!-- FAV -->
  <link rel="icon" type="image/png" href="{% static 'store/img/logo.png' %}?v=1">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <!-- CSS Files -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/font-awesome.min.css' %}?v=4.7.0">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> -->
  <!-- Bulma CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/bulma.css' %}?v=0.6.1">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'store/css/tetris_base_styles.css' %}?v=0.1.0" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'store/css/tetris_mod_styles.css' %}?v=0.1.0" /> -->
  <!-- extrastyling for specific pages -->
  {% block extra_css %}{% endblock %}

  <!-- GLOBALS -->
  <script type="text/javascript">
    window.PAGE_PATH = "{{ request.path }}";
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
</head>

<body>
    {% block content %}
    {% endblock %}
  {% include 'store/footer.html' %}
</body>
</html>

<!-- JavaScript Files -->
<script src="{% static 'store/js/jquery.min.js' %}?v=3.2.1" ></script>
<script src="{% static 'store/js/tetris_js.js' %}?v=0.1.0" ></script>