<footer class="footer" style="padding: 20px 10px 20px 10px;">
  <div class="container">
    <div class="content">

      <div class="columns">
        <div class="column">
          <ul>
            <li><a href="{% url 'store:about' %}">About</a></li>
            <li><a href="{% url 'store:customer_care' %}">Customer Care</a></li>
            <li><a href="{% url 'store:customer_care' %}">Privacy and Terms</a></li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li><a target="_blank" href="https://facebook.com/tetris">Facebook</a></li>
            <li><a target="_blank" href="https://instagram.com/tetris">Instagram</a></li>
            <li><a target="_blank" href="https://twitter.com/tetris">Twitter</a></li>
          </ul>
        </div>

        <div class="column" style="font-size: 0.8em !important;">
          <h3 style="color: #d7dbdc;">Newsletter</h3>
          <h4 style="color: #7d7878;">Subscribe to our newsletter for exclusive offers and latest products</h4>
          <div class="field has-addons">
            <div class="control">
              <input class="input is-small" type="text" name="subscriber_email" placeholder="Enter your email address">
            </div>
            <div class="control">
              <a class="button is-light">
                Enter
              </a>
            </div>
          </div>
          Made By <a target="_blank" href="https://twitter.com/olaoluwa_98">Emmanuel</a><br>
          Powered By HazelDev
        </div>
      </div>
    </div>
  </div>
</footer>