<footer class="footer" style="padding: 20px 10px 20px 10px;">
  <div class="container">
    <div class="content">

      <div class="columns has-text-centered">
        <div class="column">
          <ul>
            <li><a href="{% url 'store:about' %}">About</a></li>
            <li><a href="{% url 'store:about' %}">Customer Care</a></li>
            <li><a href="{% url 'store:about' %}">Privacy and Terms</a></li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li><a target="_blank" href="https://instagram.com/Tetrisxretails">Instagram</a></li>
            <li><a target="_blank" href="https://twitter.com/Tetrisxretails">Twitter</a></li>
          </ul>
        </div>

        <div class="column">
          <h3 style="color: #d7dbdc;font-size: 0.8em !important;">Newsletter</h3>
          <h4 style="color: #7d7878;font-size: 0.8em !important;">Subscribe to our newsletter for exclusive offers and latest products</h4>
          <div class="field is-grouped is-grouped-centered">
            <div class="field has-addons">
            <div class="control">
              <input class="input is-small" type="text" name="subscriber_email" placeholder="Enter your email address">
            </div>
            <div class="control">
              <p class="button is-small is-light">
                Enter
              </p>
            </div>
          </div>
        </div>
        <p>Powered By HazelDev</p>
        </div>


      </div>
    </div>
  </div>
</footer>