<footer class="footer">
  <div class="footer-item-links">
    <ul>
      <li><a href="{% url 'store:about' %}">About</a></li>
      <li><a href="{% url 'store:about' %}">Contact</a></li>
      <li><a href="{% url 'store:customer_care' %}">Customer Care</a></li>
      <li><a href="{% url 'store:customer_care' %}">Privacy and Terms</a></li>
    </ul>
  </div>
  <div class="footer-item-social">
    <ul>
      <li><a href="https://facebook.com/tetris">Facebook</a></li>
      <li><a href="https://instagram.com/tetris">Instagram</a></li>
      <li><a href="https://twitter.com/tetris">Twitter</a></li>
      <li><a href="https://pinterest.com/tetris">Pinterest</a></li>
      <li><a href="https://medium.com/@tetris">Medium</a></li>
    </ul>
  </div>
  <div class="footer-item-subscribe">
    <h3>Newsletter</h3>
  </div>
  <div class="footer-item-copyright">
    Copy right is here
    <a href=""> ljhgdxnlkn;</a>
  </div>
</footer>