{% extends "store/base.html" %}

{% block title %}
	About | Tetris Clothing Store
{% endblock %}


{% block content %}

<section class="section">
  <div class="container">
    {% if popular_products %}
    <div class="tile is-ancestor">
      {% for product in popular_products %}
          {% if forloop.counter0|divisibleby:5 %}
          </div>
          {% endif %}
            {% include 'store/partials/product.html' %}
          {% if forloop.counter0|divisibleby:5 %}
          <div class="tile is-ancestor">
          {% endif %}
      {% endfor %}
    {% else %}
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Unfortunately, there's no product in stock </p>
    </div>
  </div>
  {% endif %}
  </div>
</section>
{% endblock %}