{% extends 'store/base.html' %}

{% block title %}
    {{ brand.name }}} | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    {% include 'store/header.html' %}
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;" class="text-white">
    <div class="container has-text-centered text-white">
      <p class="title">
        Tetris
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a href="{% url 'store:store' %}">
        Go back to shopping Tetris
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column box is-half center-box">
      {{ brand }}
      {{ brand.products.all }}
    </div>
    <div class="column"></div>
  </div>
</section>
{% endblock %}