
<!-- index page -->
{% extends "store/base.html" %}

{% block title %}
	Tetris Clothing Store
{% endblock %}

{% block extra_css %}
	
{% endblock %}


{% block content %}
<div class="main">
  <h2>I am the main</h2>
  <p style="text-decoration: underline;">LATEST</p>
  {% if products %}

	  {% for product in products %}
		  {{ forloop.counter }}. {{ product.name }}<br>
	  {% endfor %}

  {% else %}    
    No products
  {% endif %}
  <br><p style="text-decoration: underline;">CART</p>
  {% if cart %}

    {% for cart_item in cart %}
      {{ forloop.counter }}. {{ cart_item.product.name }}<br>
    {% endfor %}

  {% else %}    
    Empty cart
  {% endif %}

  <br><p style="text-decoration: underline;">WISH LIST</p>

  {% if wish_list %}

    {% for wish_item in wish_list %}
      {{ forloop.counter }}. {{ wish_item.product.name }}<br>
    {% endfor %}

  {% else %}    
    Empty wish list
  {% endif %}
</div>

<div class="featured">
	<div class="featured-item1"></div>
	<div class="featured-item"></div>
	<div class="featured-item"></div>
</div>
<div class="latest-releases">
	<div class="latest-releases-item"></div>
	<div class="latest-releases-item"></div>
	<div class="latest-releases-item"></div>

	<div class="latest-releases-item"></div>
	<div class="latest-releases-item"></div>
	<div class="latest-releases-item"></div>
</div>

    
{% endblock %}