<!-- index page -->
{% extends "store/base.html" %} {% block title %} Tetris Clothing Store {% endblock %} {% load static %} {% block extra_css %}
<style type="text/css">
    body {
        background-image: url({% static 'store/img/index-bg.jpg' %});
        background-repeat: no-repeat;
        background-position: top;
    }
</style>
{% endblock %} {% block content %}

<section class="hero is-medium">
    <div class="hero-head">
        {% include 'store/header.html' %}
    </div>

    <div class="hero-body" style="font-family: LobsterTwo-Italic;">
        <div class="container has-text-centered text-white">
            <p class="title">
                Bold, Different, Spirited
            </p>
            <p class="subtitle">
                The new look of simple
            </p>
            <a class="shop-tetris-text" href="{% url 'store:store' %}">
            SHOP TETRIS
            </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered" style="color: white" title="of last 30 days">Latest Popular Releases</h1>
            {% if popular_products %}
            <div class="columns is-multiline">
              {% for product in popular_products %}
                    {% include 'store/partials/product.html' %}
              {% endfor %}
            </div>
            {% else %}
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title has-text-centered" >Unfortunately, there's no product in stock </p>
            </div>
          </div>
          {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered" title="of all time">Popular Brands</h1>
        {% if popular_brands %}
        <div class="columns is-multiline">
        {% for brand in popular_brands %}
          {% include 'store/partials/brand.html' %}
        {% endfor %}
        </div>
        {% else %}
        <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title has-text-centered">Surprisingly, we can't find our brands</p>
        </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}