{% extends "store/base.html" %}
{% block title %}
 Men | Tetris Clothing Store
 {% endblock %}
 {% load static %}
 {% block extra_css %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}

 {% include 'store/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title has-text-centered">All Men Products</h1>
  {% if products %}
  <div class="columns is-multiline">
      {% for product in products %}
        {% include 'store/partials/product.html' %}
      {% endfor %}
    </div>
    {% else %}
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title has-text-centered" >Unfortunately, there's no product in stock </p>
    </div>
  </div>
  {% endif %}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin: 10px">
    {% if products.has_previous %}
      <a class="pagination-previous" href="?page={{ products.previous_page_number }}">Previous</a>
    {% endif %}
    {% if products.has_next %}
      <a class="pagination-next" href="?page={{ products.next_page_number }}">Next page</a>

    {%  endif %}
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">First Page</a></li>

    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li>
        <a class="pagination-link is-dark" aria-label="Page 46" aria-current="page">{{ products.number }}</a>
    </li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>

    <li><a class="pagination-link" aria-label="Goto page 86" href="?page={{ products.paginator.num_pages }}">Last Page</a></li>
  </ul>
</nav>
</section>

{% endblock %}