{% extends "store/base.html" %}
{% block title %} Men | Tetris Clothing Store {% endblock %} {% load static %} {% block extra_css %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}

 {% include 'store/header.html' %}

<section class="section">
  <div class="columns">
    <div class="column">

    </div>

    <div class="column box">
              {{ popular_products }}
    </div>

    <div class="column">

    </div>
  </div>
</section>


<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column box">
        {{popular_brands}}
    </div>
    <div class="column"></div>
  </div>
</section>


<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column box">
        {{categories}}
    </div>
    <div class="column"></div>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column box">

      {{latest_products}}
    </div>
    <div class="column"></div>
  </div>
</section>
{% endblock %}