{% extends 'store/base.html' %}

{% block title %}
    New Shipping Address | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    {% include 'store/header.html' %}
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container has-text-centered text-white">
      <p class="title">
        Tetris
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
    </div>
  </div>
</section>

<section class="section">
	<div class="columns">
		<div class="column"></div>
		<div class="column box center-box is-half">
			<div class="tabs is-centered">
			  <ul>
			  	<li><a href="{% url 'store:checkout' %}">Checkout</a></li>
			    <li><a href="{% url 'store:shipping_addresses' %}">Shipping Addresses</a></li>
			    <li class="is-active"><a href="javascript:void(0);">New Shipping Address</a></li>
			  </ul>
			  </div>
			  <form action="/new-shipping-address/" method="post">
			  	{% csrf_token %}
			  	<div class="field is-horizontal">
			  	<div class="field-body">
		  	    <div class="field">
		  	    	<label class="label">Zip Code</label>
		  	      <p class="control is-expanded">
		  	        <input class="input {% if form.zip_code.errors %}is-danger{% endif %}" type="text" name="zip_code" placeholder="Zip Code"
		  	        value="{% if form.zip_code.value %}{{ form.zip_code.value }}{% endif %}">
		  	      </p>
      			  {% if form.zip_code.errors %}
    			    <p class="help is-danger is-size-6">
			      {% for error in form.zip_code.errors %}
                  {{ error }}
			      {% endfor %}
                	</p>
      			  {% endif %}
			</div>
		  	<div class="field">
		  	   <label class="label">Default</label>
		  	   	<input type="checkbox" name="is_default">
                Make this your default address
              	{% if form.is_default.errors %}
	  			    <p class="help is-danger is-size-6">
			      {% for error in form.is_default.errors %}
	                {{ error }}
			      {% endfor %}
	              	</p>
			  	{% endif %}
		  	    </div>
		  	  </div>
		  	</div>

	    	<div class="field is-horizontal">
	    	  <div class="field-body">
	    	    <div class="field is-expanded">
	    	    	<div class="label">Address</div>
	    	      <div class="field">
	    	        <p class="control is-expanded has-icons-left">
	    	          <input class="input {% if form.address.errors %}is-danger{% endif %}" type="tel" name="address" placeholder="your address"
	    	          value="{% if form.address.value %}{{ form.address.value }}{% endif %}" >
	    	        <span class="icon is-small is-left">
    			        <i class="fa fa-map-marker"></i>
			      </span>
	    	        </p>
	    	      </div>
            	{% if form.address.errors %}
	  			    <p class="help is-danger is-size-6">
			      {% for error in form.address.errors %}
	                {{ error }}
			      {% endfor %}
	              	</p>
			  	{% endif %}
	    	    </div>
	    	  </div>
	    	</div>

		  	<div class="field is-horizontal">
	  	  	<div class="field-body">
	    	    <div class="field">
    			    <label class="label">City</label>
    			    <div class="control has-icons-left has-icons-right">
    			      <input class="input {% if form.city.errors %}is-danger{% endif %}" type="text" name="city" placeholder="city"
    			      value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
    			      <span class="icon is-small is-left">
    			        <i class="fa fa-map-marker"></i>
    			      </span>
    			    </div>
    			  {% if form.city.errors %}
          			    <p class="help is-danger is-size-6">
    			      {% for error in form.city.errors %}
                        {{ error }}
    			      {% endfor %}
                      	</p>
    			  {% endif %}
    			  </div>

    			 <div class="field">
    			   <label class="label">State</label>
    			   <div class="control">
    			     <div class="select">
    			       <select class="{% if form.state.errors %}is-danger{% endif %}" name="state">
    			         <option>State</option>
    			         {{states}}
    			         {% for state in states %}
    			         <option value="{{ state.0 }}"
    			         {% if state.0 == form.state.value %}
    			         selected
    			         {% endif %}
    			         >
    			     	{{ state.1 }}</option>
    			         {% endfor %}
    			       </select>
    			     </div>
    			   </div>
   			      {% if form.state.errors %}
     	  			    <p class="help is-danger is-size-6">
     			      {% for error in form.state.errors %}
     	                {{ error }}
     			      {% endfor %}
     	              	</p>
 			  	  {% endif %}
    			 </div>
	    	  </div>
	    	</div>
	    	{% if form.non_field_errors %}
  			    <p class="help is-danger is-size-6">
		      {% for error in form.non_field_errors %}
                {{ error }}
		      {% endfor %}
              	</p>
		  	{% endif %}
	    	<div class="field is-grouped is-grouped-centered">
	    	  <p class="control">
	    	    <input type="submit" class="button is-dark" value="Upload Shipping Address">
	    	  </p>
	    	</div>
  	    <p style="font-size: 1.2em;" class="help is-success field is-grouped is-grouped-centered">
          	{{ success }}
      	</p>
			</form>
		</div>
		<div class="column"></div>
	</div>
</section>
{% endblock %}