{% extends 'store/base.html' %}
{% block title %}
	Orders | Tetris Clothing Store
{% endblock %}
{% load static %}
{% block extra_css %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
    <div class="hero-head">
        {% include 'store/header.html' %}
    </div>

    <div class="hero-body" style="font-family: LobsterTwo-Italic;" class="text-white">
        <div class="container has-text-centered text-white">
            <p class="title">
                Tetris
            </p>
            <p class="subtitle">
                The new look of simple
            </p>
            <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column"></div>
        <div class="column box center-box is-half">
            <div class="tabs is-centered ">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'store:profile' %}">Profile</a></li>
                    <li><a href="{% url 'store:cart' %}">Cart</a></li>
                    <li class="is-active"><a href="javascript:void(0);">Orders</a></li>
                    <li><a href="{% url 'store:wish_list' %}">Wishlist</a></li>
                    <li><a href="{% url 'store:password_change' %}">Settings</a></li>
                    {% else %}
                    <li class="is-active"><a href="javascript:void(0);">Cart</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if orders %}
            {% load humanize %}
            {% for order in orders %}
            <div class="box item">
            <!-- {% if order.status == 'cancelled' %}style="background: #ececec;"
            {% elif order.status == 'delivered' %}style="background: #c9ccde;"{% endif %}> -->
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            	{{ forloop.counter}}. <strong><a href="{{ order.get_absolute_url}}">
                            	{{ order.ref }} -
                                <span style="font-weight: bold;">
                                    ₦{{ order.subtotal | intcomma }}
                                </span>
                            	</a></strong>
                            	<span style="float: right;">{{ order.created_at | date:"D d M Y"}} {{ order.created_at | time:"g:i A" }}</span>
                            	<br>
                            	{% if order.status == 'pending' %}
                            	<span style="float: left" class="tag is-warning">
                            	Pending
                            	</span>
                            	{% endif %}
                            	{% if order.status == 'delivered' %}
                            	<span style="float: left" class="tag is-primary">
                            	Delivered
                            	</span>
                            	{% endif %}
                            	{% if order.status == 'processing' %}
                            	<span style="float: left" class="tag is-link">
                            	Processing
                            	</span>
                            	{% endif %}
                            	{% if order.status == 'cancelled' %}
                            	<span style="float: left" class="tag is-dark">
                            	Cancelled
                            	</span>
                            	{% endif %}
                                {% if order.status == 'processing' or order.status == 'pending' %}
                        		<a href="{{ order.get_absolute_url}}" class="button is-small is-dark" style="float: right;" >cancel</a>
                        		<a href="{{ order.get_absolute_url}}" class="button is-small is-success" style="float: right;" >confirm delivery</a>
                                {% endif %}
                                {% if order.status == 'cancelled' %}
                                <a class="button is-small is-light" href="{{ order.get_absolute_url}}"
                                style="float: right;">see cancel reason</a>
                                {% endif %}
                                {% if order.status == 'delivered' %}
                                <a class="button is-small is-light" href="{{ order.get_absolute_url}}"
                                style="float: right;">see deliver date</a>
                                {% endif %}
                        </div>
                    </div>
                </article>
            </div>
            {% if forloop.last %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin: 10px">
                {% if orders.has_previous %}
                  <a class="pagination-previous" href="?page={{ orders.previous_page_number }}">Previous</a>
                {% endif %}
                {% if orders.has_next %}
                  <a class="pagination-next" href="?page={{ orders.next_page_number }}">Next page</a>
                {%  endif %}

              <ul class="pagination-list">
                {% if orders.has_previous %}
                <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">First Page</a></li>
                {% endif %}

                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <a class="pagination-link is-dark" aria-label="Page 46" aria-current="page">{{ orders.number }}</a>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>

                {% if orders.has_next %}
                <li><a class="pagination-link" aria-label="Goto page 86" href="?page={{ orders.paginator.num_pages }}">Last Page</a></li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a href="{% url 'store:cart' %}" class="button is-light">
				      You have not ordered anything
				    </a>
                </p>
            </div>
            {% endif %}
        </div>
        <div class="column"></div>
    </div>
</section>
{% endblock %}