{% extends 'store/base.html' %}

{% block title %}
    {{ product.name }} | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    {% include 'store/header.html' %}
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;" class="text-white">
    <div class="container has-text-centered text-white">
      <p class="title">
        Tetris
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">

    <div class="column"></div>

    <div class="column card center-box">
        <div class="card-content">
          <p class="title is-4 has-text-centered">{{ product.name }}</p>
          <div class="card-image">
            {% if product.product_images.all %}
            <!-- Slideshow container -->
            <div class="slideshow-container">
              <!-- Full-width images with number and caption text -->
              {% for img in product.product_images.all %}
              <div class="mySlides fade">
                <div class="numbertext">{{ forloop.counter}} / {{ product.product_images.count}}</div>
                <img src="{{ MEDIA_URL }}{{img.product_image_url}}" style="width:100%">
                <div class="text">{{ product.name }}</div>
              </div>
              {% endfor %}
              <!-- Next and previous buttons -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div style="text-align:center">
              {% for img in product.product_images.all %}
                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
              {% endfor %}
            </div>
            {% else %}
              <figure class="image is-4by3">
                 <img src="{% static 'store/img/default-product-img.jpg' %}" alt="{{ product.name }}">
              </figure>
            {% endif %}

          </div>

          <div class="content">
            {{ product.desc }}
          </div>
          <footer class="card-footer">
          {% load humanize %}
          <p class="card-footer-item">Price per item:
          <span style="font-weight: bold"> &nbsp;₦{{ product.price_per_unit | intcomma }}</span></p>
          </footer>
          <footer class="card-footer">
          <p class="card-footer-item">Brand:<span style="font-weight: bold">
            &nbsp;<a href="{{ product.brand.get_absolute_url }}">{{ product.brand.name }}</a></span></p>
          </footer>
          <footer class="card-footer">
          <p class="card-footer-item">Category:<span style="font-weight: bold">
            &nbsp;<a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></span></p>
          </footer>
          <footer class="card-footer">
          <p class="card-footer-item">Gender:<span style="font-weight: bold"> &nbsp;{{ product.gender }}</span></p>
          </footer>
          <footer class="card-footer">
          <p class="card-footer-item">Colour: <span style="font-weight: bold"> &nbsp;{{ product.colour }}</span></p>
          </footer>
          <footer class="card-footer">
          <p class="card-footer-item">Size: <span style="font-weight: bold"> &nbsp;{{ product.size.size_format }} {{ product.size.value }}</span></p>
          </footer>
          <footer class="card-footer">
          <p class="card-footer-item">Quantity Left in store: <span style="font-weight: bold;color: green"> &nbsp;{{ product.quantity }}</span></p>
          </footer>
          {% load tetris %}
          <footer class="card-footer" id="product-footer">
              {% if request.user.is_authenticated %}
                {% if product.id|product_wished:user %}
                <p class="card-footer-item">
                <span class="button is-light is-small"
                onclick="remove_from_wish_list({{ product.id }})" id="remove_from_wish_list_{{product.id}}">
                Remove from Wish List</span>
                </p>
                {% else %}
                <p class="card-footer-item">
                <span class="button is-dark is-small"
                onclick="add_to_wish_list({{ product.id }})" id="add_to_wish_list_{{product.id}}">
                Add to Wish List</span>
                </p>
                {% endif %}
              {% else %}
              <p class="card-footer-item">
              <a href="{% url 'store:login' %}" class="button is-light is-small">
              Login to Add to Wish List
              </a>
              </p>
              {% endif %}
                {% if product.id|product_carted:request %}
                <p class="card-footer-item">
                <span class="button is-light is-small"
                  onclick="remove_from_cart({{ product.id }})" id="remove_from_cart_{{product.id}}" >
                  Remove from Cart
                </span>
                </p>
                  {% else %}
                <p class="card-footer-item">
                <span class="button is-dark is-small"
                  onclick="add_to_cart({{ product.id }})" id="add_to_cart_{{product.id}}">
                  Add to Cart</span>
              </p>
              {% endif %}
          </footer>
        </div>
      </div>

    <div class="column"></div>
  </div>
</section>

{% if related_products %}
<section class="section" style="margin-top: 0px">
  <div class="container">
  <h1 class="title has-text-centered">Related Products</h1>
  <div class="columns is-multiline">
    {% for product in related_products %}
      {% include 'store/partials/product.html' %}
    {% endfor %}
  </div>
</div>
</section>
{% endif %}


{% if product.product_images.all %}
<script type="text/javascript">
  var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
{% endif %}
{% endblock %}