{% extends 'store/base.html' %}

{% block title %}
    Profile | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
    {% include 'store/header.html' %}
  </div>

  <div class="hero-body" >
    <div class="container has-text-centered text-white">
      <p class="title">
        Tetris
      </p>
      <p class="subtitle">
        The new look of simple
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
    </div>
  </div>
</section>

<section class="section">
	<div class="columns">
		<div class="column"></div>
		<div class="column box center-box is-half">
			<div class="tabs is-centered">
			  <ul>
			    <li class="is-active"><a href="javascript:void(0);">Profile</a></li>
			    <li><a href="{% url 'store:cart' %}">Cart</a></li>
			    <li><a href="{% url 'store:orders' %}">Orders</a></li>
			    <li><a href="{% url 'store:wish_list' %}">Wishlist</a></li>
			    <li><a href="{% url 'store:password_change' %}">Settings</a></li>
			  </ul>
			  </div>
			  <form action="/profile/" method="post">
			  	{% csrf_token %}
			  	<div class="field is-horizontal">
			  	<div class="field-body">
		  	    <div class="field">
		  	    	<label class="label">First name</label>
		  	      <p class="control is-expanded has-icons-left">
		  	        <input class="input {% if form.first_name.errors %}is-danger{% endif %}" type="text" name="first_name" placeholder="First Name"
		  	        value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{{ user.first_name}}{% endif %}">
		  	        <span class="icon is-small is-left">
		  	          <i class="fa fa-user"></i>
		  	        </span>
		  	      </p>
		  	      {% if form.first_name.errors %}
		  	      <p class="help is-danger is-size-6">
		  	      {% for error in form.first_name.errors %}
		  	            {{ error }}
		  	      {% endfor %}
		  	       </p>
		  	      {% endif %}
		  	    </div>
		  	    <div class="field">
		  	    	<label class="label">Last name</label>
		  	      <p class="control is-expanded has-icons-left">
		  	        <input class="input {% if form.last_name.errors %}is-danger{% endif %}" type="text" name="last_name" placeholder="Last name"
		  	        value="{% if form.last_name.value %}{{ form.last_name.value }}{% else %}{{ user.last_name}}{% endif %}">
		  	        <span class="icon is-small is-left">
		  	          <i class="fa fa-user"></i>
		  	        </span>
		  	      </p>
		  	      {% if form.last_name.errors %}
		  	      <p class="help is-danger is-size-6">
		  	      {% for error in form.last_name.errors %}
		  	            {{ error }}
		  	      {% endfor %}
		  	       </p>
		  	      {% endif %}
		  	    </div>
		  	  </div>
		  	</div>

		  	<div class="field is-horizontal">
	  	  	<div class="field-body">
	    	    <div class="field">
    			    <label class="label">Username</label>
    			    <div class="control has-icons-left has-icons-right">
    			      <input class="input {% if form.username.errors %}is-danger{% endif %}" type="text" name="username" placeholder="Username"
    			      value="{% if form.username.value %}{{ form.username.value }}{% else %}{{ user.username}}{% endif %}">
    			      <span class="icon is-small is-left">
    			        <i class="fa fa-user"></i>
    			      </span>
    			    </div>
    			    {% if form.username.errors %}
    			    <p class="help is-danger is-size-6">
    			    {% for error in form.username.errors %}
    			          {{ error }}
    			    {% endfor %}
    			     </p>
    			    {% endif %}
    			  </div>

	    	    <div class="field">
    			    <label class="label">Email</label>
    			    <div class="control has-icons-left has-icons-right">
    			      <input class="input {% if form.email.errors %}is-danger{% endif %}" type="email" name="email" placeholder="Email input"
    			      value="{% if form.email.value %}{{ form.email.value }}{% else %}{{ user.email}}{% endif %}" >
    			      <span class="icon is-small is-left">
    			        <i class="fa fa-envelope"></i>
    			      </span>
    			      {% if form.email.errors %}
    			      <span class="icon is-small is-right">
    			        <i class="fa fa-warning"></i>
    			      </span>
    			      {% endif %}
    			    </div>
    			    {% if request.user.is_verified == False %}
    			    <p class="help is-danger">
    			    Please check the link we sent to your mail to verify your email.<br>
    			    <a href="{% url 'store:resend_verification' %}">click this link to resend the verification to your email</a>
		    	  	</p>
		    	  	{% else %}
		    	  	<p class="help" style="color: green">
    			    Your account is verified
		    	  	</p>
		    	  	{% endif %}
    			    {% if form.email.errors %}
    			    <p class="help is-danger is-size-6">
    			    {% for error in form.email.errors %}
    			          {{ error }}
    			    {% endfor %}
    			     </p>
    			    {% endif %}
    			  </div>
	    	  </div>
	    	</div>

	    	<div class="field">
		    <label class="label">Phone number</label>
		    <div class="control has-icons-left has-icons-right">
		      <input class="input {% if form.phone.errors %}is-danger{% endif %}" type="phone" name="phone" placeholder="your phone number"
		      value="{% if form.phone.value %}{{ form.phone.value }}{% else %}{{ user.phone}}{% endif %}" >
		      <span class="icon is-small is-left">
		        <i class="fa fa-phone"></i>
		      </span>
		      {% if form.phone.errors %}
		      <span class="icon is-small is-right">
		        <i class="fa fa-warning"></i>
		      </span>
		      {% endif %}
		    </div>
		    <p class="help is-dark is-size-6">
		    	Please add the +234
		    </p>
		    {% if form.phone.errors %}
		    <p class="help is-danger is-size-6">
		    {% for error in form.phone.errors %}
		          {{ error }}
		    {% endfor %}
		     </p>
		    {% endif %}
		  	</div>

	    	{% if form.non_field_errors %}
	  	      <p class="help is-danger is-size-6">
	  	      {% for error in form.non_field_errors %}
	  	            {{ error }}
	  	      {% endfor %}
	  	       </p>
	  	      {% endif %}
	    	<div class="field is-grouped is-grouped-centered">
	    	  <p class="control">
	    	    <input type="submit" class="button is-dark" value="Update Profile">
	    	  </p>
	    	</div>
  	    <p style="font-size: 1.2em;" class="help is-success field is-grouped is-grouped-centered">
          	{{ success }}
      	</p>
			</form>
		</div>
		<div class="column"></div>
	</div>
</section>
{% endblock %}