<!-- store page -->
{% extends "store/base.html" %} {% block title %} Store | Tetris Clothing Store {% endblock %} {% load static %} {% block extra_css %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}

 {% include 'store/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title has-text-centered" title="of last 30 days">Latest Products</h1>
  {% if latest_products %}
  <div class="columns is-multiline">
    {% for product in latest_products %}
      {% include 'store/partials/product.html' %}
    {% endfor %}
  </div>
  {% else %}
<div class="tile is-parent">
  <div class="tile is-child box">
    <p class="title has-text-centered" >Unfortunately, there's no product in stock </p>
  </div>
</div>
{% endif %}
</div>
</section>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered" title="of all time">Popular Brands</h1>
        {% if popular_brands %}
        <div class="columns is-multiline">
        {% for brand in popular_brands %}
          {% include 'store/partials/brand.html' %}
        {% endfor %}
        </div>
        {% else %}
            <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title has-text-centered">Surprisingly, we can't find our brands</p>
            </div>
          </div>
        {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Popular Categories</h1>
        {% if categories %}
        <div class="columns is-multiline">
        {% for cat in categories %}
        <div class="column is-3">
          <div class="box has-text-centered product-box">
        <figure class="image">
        <a href="{{ cat.get_absolute_url }}">
          <img
          {% if cat.cat_image_url %}
            src="{{ MEDIA_URL }}{{ cat.cat_image_url }}"
          {% else %}
          src="{{ category_img_default }}"
          {% endif %}
          >
        </a>
        </figure>

          <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
        {% else %}
        <div class="tile is-parent">
          <div class="tile is-child box">
          <p class="title has-text-centered">Surprisingly, there are no available categories for now</p>
          </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}