<!-- store page -->
{% extends "store/base.html" %} {% block title %} Store | Tetris Clothing Store {% endblock %} {% load static %} {% block extra_css %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}

 {% include 'store/header.html' %}

<section class="section">
  <div class="container">
  <h1 class="title has-text-centered">Latest Products</h1>
  {% if latest_products %}
    {% for product in latest_products %}
        {% if forloop.counter|add:-1|divisibleby:4 %}
          <div class="tile is-ancestor">
        {% endif %}
          {% include 'store/partials/product.html' %}
        {% if forloop.counter|divisibleby:4 %}
          </div>
        {% endif %}
    {% endfor %}
  {% else %}
<div class="tile is-parent">
  <div class="tile is-child box">
    <p class="title has-text-centered" >Unfortunately, there's no product in stock </p>
  </div>
</div>
{% endif %}
</div>
</section>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Popular Brands</h1>
        {% if popular_brands %}
        {% for brand in popular_brands %}
        {% if forloop.counter|add:-1|divisibleby:4 %}
        <div class="tile is-ancestor">
        {% endif %}
        <div class="tile is-parent">
          <article class="tile is-child box has-text-centered product-box">
              <figure class="image is-3by2">
                  <a href="{{ brand.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ brand.brand_image_url }}"></a>
              </figure>
              <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a>
          </article>
        </div>
        {% if forloop.counter|divisibleby:4 %}
          </div>
        {% endif %}
        {% endfor %}

        {% else %}
        <div class="tile is-ancestor">
            <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title has-text-centered">Surprisingly, we can't find our brands</p>
            </div>
          </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Popular Categories</h1>
        {% if categories %}
        {% for cat in categories %}
        {% if forloop.counter|add:-1|divisibleby:4 %}
        <div class="tile is-ancestor">
        {% endif %}
        <div class="tile is-parent">
          <article class="tile is-child box has-text-centered product-box">
              <figure class="image is-3by2">
                  <a href="{{ cat.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ cat.cat_image_url }}"></a>
              </figure>
              <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
          </article>
        </div>
        {% if forloop.counter|divisibleby:4 %}
          </div>
        {% endif %}
        {% endfor %}

        {% else %}
        <div class="tile is-ancestor">
            <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title has-text-centered">Surprisingly, we can't find our brands</p>
            </div>
          </div>
        </div>
        {% endif %}
    </div>
</section>


{% endblock %}