{% extends 'store/base.html' %} {% block title %} Wishlist | Tetris Clothing Store {% endblock %} {% load static %} {% block extra_css %}
<style type="text/css">

</style>
{% endblock %} {% block content %}

<section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
    <div class="hero-head">
        {% include 'store/header.html' %}
    </div>

    <div class="hero-body" style="font-family: LobsterTwo-Italic;">
        <div class="container has-text-centered text-white">
            <p class="title" style="color: white;">
                Tetris
            </p>
            <p class="subtitle">
                The new look of simple
            </p>
            <a class="shop-tetris-text" href="{% url 'store:store' %}">
        Go back to shopping Tetris
      </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column"></div>
        <div class="column box center-box is-half">
            <div class="tabs is-centered">
                <ul>
                    <li><a href="{% url 'store:profile' %}">Profile</a></li>
                    <li><a href="{% url 'store:cart' %}">Cart</a></li>
                    <li><a href="{% url 'store:orders' %}">Orders</a></li>
                    <li class="is-active"><a href="javascript:void(0);">Wishlist</a></li>
                    <li><a href="{% url 'store:password_change' %}">Settings</a></li>
                </ul>
            </div>
            {% load humanize %}
            {% if wish_list %} {% for wish_item in wish_list %}
            <div class="box item wish_item_{{wish_item.product.id}}">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ MEDIA_URL }}{{ wish_item.product.product_images.all.0.product_image_url }}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                        <strong><a href="{{ wish_item.product.get_absolute_url}}">{{ wish_item.product.name }}</a></strong>
                        <p style="font-weight: bold; margin-bottom: 0px">
                        ₦{{ wish_item.product.price_per_unit | intcomma }}
                        </p>
                        </div>
                    </div>
                    <div class="media-right">
                    <button id="remove_from_wish_list_{{wish_item.productid}}" onclick="remove_from_wish_list({{wish_item.product.id}})" title="remove this item" class="delete"></button>
                    </div>
                </article>
            </div>
            {% if forloop.last %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin: 10px">
                {% if wish_list.has_previous %}
                  <a class="pagination-previous" href="?page={{ wish_list.previous_page_number }}">Previous</a>
                {% endif %}
                {% if wish_list.has_next %}
                  <a class="pagination-next" href="?page={{ wish_list.next_page_number }}">Next page</a>

                {%  endif %}
              <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">First Page</a></li>

                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <a class="pagination-link is-dark" aria-label="Page 46" aria-current="page">{{ wish_list.number }}</a>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>

                <li><a class="pagination-link" aria-label="Goto page 86" href="?page={{ wish_list.paginator.num_pages }}">Last Page</a></li>
              </ul>
            </nav>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a class="button is-light" id="empty_wish_list" onclick="empty_wish_list()">
				      Empty wish list
				    </a>
                </p>
            </div>
            {% endif %} {% endfor %} {% else %}
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a class="button is-light">
				      Your wish list is empty
				    </a>
                </p>
            </div>
            {% endif %}
        </div>
        <div class="column"></div>
    </div>
</section>
{% endblock %}