{% extends 'store/base.html' %}

{% block title %}
    Page Not Found | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

{% include 'store/header.html' %}
<!-- <section class="hero is-medium" style="background-image: url({% static 'store/img/index-bg.jpg' %})">
  <div class="hero-head">
  </div>

  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container has-text-centered text-white">
      <p class="title">
        About Us
      </p>
    </div>
  </div>
</section> -->

<section class="hero is-medium is-light">
  <div class="hero-body" style="font-family: LobsterTwo-Italic;">
    <div class="container">
      <p class="title">
        Sorry the page you're looking for is not here
      </p>
      <!-- <p class="subtitle">
      </p> -->
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
    </div>
  </div>
</section>
{% endblock %}