{% extends 'store/base.html' %}

{% block title %}
    Internal Server Error | Tetris Clothing Store
{% endblock %}

{% load static %}
{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

{% include 'store/header.html' %}
<section class="hero is-medium is-light">
  <div class="hero-body" >
    <div class="container">
      <p class="title">
        We've encountered a problem with the server, we'll fix it soon.
      </p>
      <a class="shop-tetris-text" href="{% url 'store:store' %}">
        SHOP TETRIS
      </a>
    </div>
  </div>
</section>
{% endblock %}