/*styling for tetris*/

/*START OF FOOTER STYLING*/
/*this is the footer*/
.footer {
  display: grid;
  background-color: #424242;
  font-family: MaisonNeue-Light;
  grid-template-columns: 3fr 4fr 3fr 5fr 3fr;
  grid-template-rows: 1fr 5fr 1fr;
  border: 1px solid gray;
  /*align-content: center;*/
  text-align: left;
  color: #d7dbdc;
}

.footer a {
  color: #d7dbdc;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li a {
  display: block;
  color: #d7dbdc;
  padding: 8px 16px;

}

.footer a:hover {
  color: #7f8182;
}

.footer-item-links {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.footer-item-social {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.footer-item-social li a {
  color: #7f8182;
}

.footer-item-social li a:hover {
  color: #595b5d;
}

.footer-item-subscribe {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.footer-item-subscribe h3 {
  padding: 8px 16px;
  margin-top: 0;
}

.footer-item-copyright {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

/*END OF FOOTER STYLING*/