/*styling for tetris*/

/*this is the grid container*/
body {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-gap: 5px;
  border: 1px solid gray;
  margin: 0px;
  background: #ffffff;
}

a {
  text-decoration: none;
}

/*START OF HEADER STYLING*/
/*this is the header*/
.header {
  /*split the header into columns*/
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  grid-template-rows: auto;
  border: 1px solid gray;
  font-family: MaisonNeue-Light;
  font-size: 20px;
  color: white;
  text-align: left;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-content: center;
}

.header a {
  color: white;
}

/*the title of the site*/
.header-title {
  grid-column: 2 / 3;
  text-align: left;
}

/*the links in the middle of the header*/
.header-links {
  grid-column: 3 / 4;
  text-align: center;
}

/*cart and user icons*/
.header-icons {
  grid-column: 4 / 5;
  text-align: center;
}

.header-icons * {
  margin-right: 15px;
}
/*END OF HEADER STYLING*/


/*START OF MAIN BODY STYLING*/
.main_body {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  /*grid-template-rows: 1fr 1fr;*/
  border: 1px solid gray;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
/*START OF MAIN BODY STYLING*/


/*START OF FOOTER STYLING*/
/*this is the footer*/
.footer {
  display: grid;
  background-color: #424242;
  font-family: MaisonNeue-Light;
  grid-template-columns: 3fr 4fr 3fr 5fr 3fr;
  grid-template-rows: 1fr 5fr 1fr;
  border: 1px solid gray;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  /*align-content: center;*/
  text-align: left;
  color: #d7dbdc;
}

.footer a {
  color: #d7dbdc;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li a {
  display: block;
  color: #d7dbdc;
  padding: 8px 16px;

}

.footer a:hover {
  color: #7f8182;
}

.footer-item-links {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.footer-item-social {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.footer-item-social li a {
  color: #7f8182;
}

.footer-item-social li a:hover {
  color: #595b5d;
}

.footer-item-subscribe {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.footer-item-subscribe h3 {
  padding: 8px 16px;
  margin-top: 0;
}

.footer-item-copyright {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

/*END OF FOOTER STYLING*/

.dropbtn {
    color: black;
    /*color: white;*/
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}

/*a:after {
  content: " (" attr(href) ")";
}
a:before {
  content: "..";
}*/